<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Rate Form</title>
</head>
<body>

<h2>Add Rate</h2>

<form action="/addRate" method="post">
  <label for="ocena">Ocena:</label>
  <input type="number" id="ocena" name="ocena" required>
  <br>

  <label for="data">Data:</label>
  <input type="text" id="data" name="data" required>
  <br>

  <label for="classaId">Class Teacher:</label>
  <select id="classaId" name="classaId" required>
    <option th:each="classTeacher : ${classTeachers}"
            th:value="${classTeacher.id}"
            th:text="${classTeacher.nazwa_grupy}"></option>
  </select>
  <br>

  <label for="komentarz">Komentarz:</label>
  <textarea id="komentarz" name="komentarz" rows="4" cols="50" required></textarea>
  <br>

  <input type="submit" value="Submit">
</form>

</body>
</html>